@base-font-size: 16px;
@urbanist: 'Urbanist', sans-serif;

.urbanist(@weight: 400, @size: 1em) {
  font-family: @urbanist;
  font-optical-sizing: auto;
  font-weight: @weight;
  font-style: normal;
  font-size: @size;
}