@import (reference) "include/colors.less";
@import (reference) "include/fonts.less";

a {
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    color: @silver;
    text-decoration: underline;
  }
}

h1, h2 {
  .urbanist(@weight: 300);
  color: @gray25;
}
