@import (reference) "../../../less/globals.less";
@import (reference) "../../common/Flag/Flag.less";

@nav-item-font-size: 28px;

.mw-banner-nav {
  display: inline-flex;
  align-items: center;

  .mw-banner-nav-item {
    display: flex;
    padding: 0 @tail-width / 2;
    text-decoration: none; // todo move to an "ExternalLink" class
    font-size: @nav-item-font-size;
    color: @dark-primary;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: @tail-width;
    }

    &:hover {
      color: @dark-secondary-lighter;
    }
  }
}