@import "../../../less/globals.less";

.mw-body {
  color: @dark-primary;
  padding: @outer-rail 14%;
  font-size: 16px;
  line-height: 1.6em;

  // Hard defaults
  * {
    font-family: @font-family-primary;
    font-weight: @font-weight-primary;
    letter-spacing: .05em;
  }

  p, blockquote, h1, h2, h3, h4, h5, pre, code {
    margin-bottom: 25px;
  }

  h1, h2, h3, h4, h5 {
    font-family: @font-family-title;
    letter-spacing: .07em;
    font-weight: @font-weight-secondary;

    border-bottom-color: @dark-primary;
  }

  h3, h4, h5 {
    font-weight: @font-weight-bold;
  }

  p + p {
    margin-top: -10px;
  }

  pre, code {
    border-radius: 1px 1px 1px 1px;
    color: @dark-primary-lighter;
  }

  blockquote {
    color: @dark-primary-lighter;
    border-left: 2px @dark-primary-lighter solid;
  }

  a {
    color: @dark-secondary-lighter;
    font-weight: @font-weight-bold;

    &:hover {
      color: @dark-secondary;
      //color: mix(@dark-secondary, @dark-primary, 80%);
    }
  }

  hr {
    background-color: @dark-secondary-lighter;
    height: 2px;
  }

  pre {
    background-color: rgba(@dark-secondary-lightest, .1);
    box-shadow: 1px 1px 2px 0 @dark-primary-lighter inset;
  }

  li {
    list-style: square;
  }

  em {
    font-style: italic;
  }
}