// -- What remains in this file is stuff Tailwind was being a pain with

@import (reference) "../../common/style/colors";
@import (reference) "../../common/style/sizing";
@import (reference) "../../common/style/fonts";

.mw-headshot {
  display: block;
  margin-right: 50px;
  border-radius: 4px;
  box-shadow: .10ex .10ex .35ex @black;

  @media (min-width: @phone) and (max-width: @tablet) {
    display: none;
  }

  @media (min-width: @tablet) {
    width: 300px;
  }

  @media (max-width: @phone) {
    width: calc(100vw - 100px);
    height: calc(100vw - 100px);
  }
}


.mw-info {
  h3 {
    border-bottom: 1px solid @black;

    > span {
      border-bottom: 2px solid @black;
    }
  }
}

@import "component/nav";