@import "../../less/globals";

.mw-article {
  .mw-article-title {
    font-weight: @font-weight-title;
    font-family: @font-family-primary;
    line-height: 1.4em;

    font-size: 70px;
    padding: @outer-rail * 3 @outer-rail;
    margin: 0 auto;
    text-align: center;
  }
}