@import (reference) "../../../common/style/colors";
@import (reference) "../../../common/style/sizing";
@import (reference) "../../../common/style/fonts";

.mw-overview {
  display: flex;
  background-color: @page-shade;
  box-sizing: border-box;
  padding: 50px;
  width: 100%;
  max-height: 400px;
  height: 400px;

  margin-top: calc(100vh - 400px);

  a {
    color: @gold;
  }

  h1 {
    .urbanist(300, @size: 2.2em);
    margin: (@xsmall / 2) 0 0 0;
  }

  h2 {
    .urbanist(@size: 1em, @weight: 300);
    margin: (@xsmall / 2) 0 0 0;
    font-size: 1.1em;
    background-color: lighten(@blueash, 64%);
    letter-spacing: .15em;
    padding: 6px 6px;
    text-transform: uppercase;
  }

  .mw-ribbon {
    height: 200px;
    background-color: black;
    margin-top: -200px;
  }

  .mw-headshot {
    display: block;
    width: 300px;
    margin-right: 50px;
    border-radius: 4px;
    box-shadow: .10ex .10ex .35ex @black;
  }

  .mw-info {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    overflow-x: hidden;

    p {
      margin: 10px 0 0 0;
    }

    h3 {
      .urbanist(@weight: 400, @size: 1.1em);

      color: @black;
      border-bottom: 1px solid @black;
      line-height: 1em;
      margin-bottom: 20px;

      > span {
        padding-bottom: 1px;
        border-bottom: 2px solid @black;
      }
    }
  }
}