@import (reference) "../include/colors";
@import (reference) "../include/sizing";
@import (reference) "../include/fonts";

.mw-overview {
  display: flex;
  background-color: @page-shade;
  box-sizing: border-box;
  padding: 50px;
  width: 100%;
  max-height: 400px;
  height: 400px;

  h1 {
    .podkova(300, @size: 1.8em);

    margin: (@xsmall / 2) 0 0 0;
  }

  h2 {
    .podkova(@size: 1.1em);

    margin: (@xsmall / 2) 0 0 0;
  }

  .mw-headshot {
    display: block;
    width: 300px;
    margin-right: 50px;
    border-radius: 4px;
    box-shadow: .10ex .10ex .35ex @black;
  }

  .mw-info {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    overflow-x: hidden;

    main {
      @labels: slot-1, slot-2, slot-3, slot-4;
      .text-shadow(@color: #000) {
        text-shadow: -0.04ex 0 .01ex @color, 0.04ex 0 .01ex @color;
      }

      flex-grow: 1;
      display: flex;
      flex-direction: column;

      > section {
        display: none;
        margin-top: @xsmall;
        flex-grow: 2;
        flex-direction: column;
      }

      > input {
        opacity: 0;
        position: absolute;
      }

      each(@labels, {
        #mw-@{value}:checked {
          ~ .mw-@{value} {
            display: flex;

            > .mw-flair {
              display: flex
            }
          }

          ~ .mw-tabs > [for="mw-@{value}"], ~ [for="mw-@{value}"] {
            .text-shadow(@color: @gray50);
          }
        }
      })

      .mw-tabs {
        margin: @small 0 0 0;

        > label {
          .urbanist(@weight: 300, @size: 18px);

          &:hover {
            .text-shadow(@color: @gray50);

            cursor: pointer;
          }
        }
      }

      .mw-flair {
        @offset: calc(5% + 4px);

        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        right: @offset;
        margin: 0;
        padding: 0 @offset;
        width: 105%;
        height: calc(100% - (@small * 2));
        box-shadow: 0 0 .3ex @gray50, 0 0 .15ex @black;
        border: 1px solid transparent;
        border-radius: @xsmall;
        box-sizing: border-box;

        line-height: 1.1em;

        p {
          margin: @xsmall 0 0 0;

          &:first-child {
            margin: 0;
          }
        }

        ul, ol {
          margin: @xsmall 0 0 0;
          padding: 0 0 0 @medium;
        }

        li {
          margin: 0 0 @xsmall 0;

          &:last-child {
            margin-bottom: 0;
          }
        }

        .mw-podkova {
          font-size: 1.2em;
        }

      }

      .mw-standin {
        display: flex;
        flex-direction: row;
        align-items: center;

        i, svg {
          margin: 0 12px;
        }
      }
    }
  }
}