<!DOCTYPE html>
<html>
    <head>
        <title>{{$site.title}}</title>
        <!-- bower:css --><!-- endinject -->
        <link href="{{$site.google.fonts}}" rel="stylesheet" />
        <!-- inject:css --><!-- endinject -->
    </head>
    <body>
        <div class="mw-body">
            <header class="mw-header">
                <img class="mw-site-avatar" src="{{$site.avatarImage}}">
                <h1 class="mw-site-title">{{$site.title}}</h1>
                {{>nav $site.nav}}
            </header>
            <main class="mw-main {{#if $page.blog}}mw-blog{{/if}}">
                <article>
                    {{>date $page.blog}}
                    {{{$page.contents}}}
                </article>
            </main>
            <footer class="mw-footer" style="text-align: center">
                {{renderPageNav $page.blog}}
            </footer>
        </div>
    </body>
</html>