@titillium-web: 'Titillium Web', sans-serif;
@open-sans: 'Open Sans', sans-serif;
@podkova: 'Podkova', serif;
@urbanist: 'Urbanist', sans-serif;
@font-primary: @titillium-web;
@font-secondary: @open-sans;

.podkova(@weight: 400, @size: 1em) {
  font-family: @podkova;
  font-optical-sizing: auto;
  font-weight: @weight;
  font-style: normal;
  font-size: @size;
}

.urbanist(@weight: 400, @size: 1em) {
  font-family: @urbanist;
  font-optical-sizing: auto;
  font-weight: @weight;
  font-style: normal;
  font-size: @size;
}