@media print {
  .mw-pagebreak {
    clear: both;
    page-break-after: always;
  }
}

@media screen {
  .mw-pagebreak {
    display: block;
    height: 10px;
  }
}

@page {
  margin: 0;
  padding: 0;
}