<!-- useLayout: blog -->
<!-- title: Once Upon a Time, There Were Blogs! -->
<!-- date: 2017-01-01 -->

<p>No… but I'd like to be asked! Bad news. Andy Griffith turned us down. He didn't like his trailer. There's only one man I've ever called a coward, and that's Brian Doyle Murray. No, what I'm calling you is a television actor.</p>
<p>That's what it said on 'Ask Jeeves. ' I don't criticize you! <strong> And if you're worried about criticism, sometimes a diet is the best defense.</strong> <em> Army had half a day.</em> Army had half a day.</p>
<h1>Well, what do you expect, mother?</h1>

<h2>Oh, you're gonna be in a coma, all right.</h2>
<h3>Whoa, this guy's straight?</h3>
<p>That's what it said on 'Ask Jeeves.' It's called 'taking advantage.' It's what gets you ahead in life. Steve Holt! I don't understand the question, and I won't respond to it. Did you enjoy your meal, Mom? You drank it fast enough.</p>
<ol>
    <li>Say goodbye to these, because it's the <a href="#">last</a> time!</li><li>But I bought a yearbook ad from you, doesn't that mean anything anymore?</li><li>I don't understand the question, and I won't respond to it.</li>
</ol>

<h3>Oh, you're gonna be in a coma, all right.</h3>
<h4>Whoa, this guy's straight?</h4>
<p>We just call it a sausage. Steve Holt! Did you enjoy your meal, Mom? You drank it fast enough. Get me a vodka rocks. And a piece of toast. There's so many poorly chosen words in that sentence.</p>
<ul>
    <li>Whoa, this guy's straight?</li><li>Steve Holt!</li><li>What's Spanish for "I know you speak English?"</li>
</ul>
<pre>
.test {
    color: blue;
}
</pre>
<p><q>I care deeply for nature. I'm afraid I just blue myself. Not tricks, Michael, illusions. I'm a monster. No! I was ashamed to be SEEN with you. I like being with you.</q> - Some Person</p>
<blockquote>What's Spanish for "I know you speak English?" Get me a vodka rocks. And a piece of toast. I'm half machine. I'm a monster. Marry me. He'll want to use your yacht, and I don't want this thing smelling like fish.</blockquote>
<p>Whoa, this guy's straight? Steve Holt! There's so many poorly chosen words in that sentence. It's a hug, Michael. I'm hugging you. I don't criticize you! And if you're worried about criticism, sometimes a diet is the best defense.</p>
<p>Really? Did nothing cancel? That's why you always leave a note! There's only one man I've ever called a coward, and that's <a href="#">Brian Doyle Murray</a>. No, what I'm calling you is a television actor. I don't criticize you! And if you're worried about criticism, sometimes a diet is the best defense.</p>
<code>What's Spanish for "I know you speak English?" Well, what do you expect, mother? Michael! First place chick is hot, but has an attitude, doesn't date magicians.</code>
<p>That's what it said on 'Ask Jeeves.' There's only one man I've ever called a coward, and that's Brian Doyle Murray. No, what I'm calling you is a television actor. I'm half machine. I'm a monster. But I bought a yearbook ad from you, doesn't that mean anything anymore?</p>
<p>Get me a vodka rocks. And a piece of toast. It's called 'taking advantage.' It's what gets you ahead in life. Steve Holt! It's called 'taking advantage.' It's what gets you ahead in life. I'm half machine. I'm a monster.</p>
<blockquote><q>I hear the jury's still out on science. Say goodbye to these, because it's the last time! But I bought a yearbook ad from you, doesn't that mean anything anymore? There's so many poorly chosen words in that sentence.</q>- Some Guy</blockquote>
<p>Whoa, this guy's straight? <code>I don't criticize you!</code> And if you're worried about criticism, sometimes a diet is the best defense. That's why you always leave a note! No… but I'd like to be asked! Michael!</p>
<pre>It's a hug, Michael. I'm hugging you. Bad news. Andy Griffith turned us down. He didn't like his trailer. Across from where? Oh, you're gonna be in a coma, all right. Get me a vodka rocks. And a piece of toast.</pre>
<p>It's a hug, Michael. I'm hugging you. No… but I'd like to be asked! What's Spanish for "I know you speak English?" I don't understand the question, and I won't respond to it.</p>
