@import (reference) "../../../less/globals.less";

.mw-banner {
  z-index: 1;
  position: fixed;
  height: 50px;
  display: flex;
  justify-content: space-between;
  left: 0;
  right: 0;

  transition: box-shadow 100ms, background-color 100ms;

  html:not([data-scroll='0']) & {
    background: rgba(#fff, .98) fixed;
    box-shadow: 0 4px 4px lighten(@dark-primary, 20%);
  }
}