@dark-primary: #313639;
@dark-primary-lighter: lighten(@dark-primary, 30%);
@dark-primary-lightest: lighten(@dark-primary, 50%);

//@dark-secondary: #90b4d3
//@dark-secondary: #3A86B7;
//@dark-secondary: #63798c;
@dark-secondary: #5d8aa8;
@dark-secondary-lighter: lighten(@dark-secondary, 10%);
@dark-secondary-lightest: lighten(@dark-secondary, 20%);
