
@font-weight-bold: 600;
@font-weight-primary: 400;
@font-weight-secondary: 300;
@font-weight-title: 200;

@font-family-primary: "Open Sans", sans-serif;
@font-family-title: "Titillium Web", sans-serif;
