@import (reference) "../../../less/globals";
@import (reference) "./../../common/Flag/Flag";

@title-font-size: 28px;
@title-letter-spacing: .09em;

.mw-banner-flag {
  font-weight: @font-weight-title;
  text-decoration: none;

  height: 100%;
  align-items: center;
  display: inline-flex;

  .mw-banner-flag-title {
    color: @dark-primary;
    font-size: @title-font-size;
    line-height: @title-font-size;
    font-family: @font-family-title;
    letter-spacing: @title-letter-spacing;

    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: @dark-secondary-lighter;
    }
  }

  .mw-banner-flag-outer {
    border-top: @tail-half-height solid @dark-primary-lightest;
    border-bottom: @tail-half-height solid @dark-primary-lightest;
  }

  .mw-banner-flag-inner {
    border-top: @tail-half-height solid @dark-primary;
    border-bottom: @tail-half-height solid @dark-primary;
  }
}