<!-- useLayout: main -->
<img src="{{profileImage}}">
<p>I haven't felt much of anything since my guinea pig died. Too much work. Let's burn it and say we dumped it in the sewer. Interesting. No, wait, the other thing: tedious. Five hours? Aw, man! Couldn't you just get me the death penalty?</p>
<p>Um, is this the boring, peaceful kind of taking to the streets? Oh, I think we should just stay friends.</p>