.mw-resume-ats {
  margin: 20px;
  font-size: 14px;

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.25em;
  }

  h3 {
    font-size: 1em;
  }

  h4 {
    font-size: 1em;
    margin-bottom: 5px;
    font-weight: 500;
  }

  p, em {
    margin: 0;
  }

  ul {
    margin: 0;
  }
}