<h1>Matt Whitaker</h1>
<nav>
    <ul>
        <li><a href="https://github.com/matt-whitaker">Github</a></li>
        <li><a href="https://www.linkedin.com/in/whitakermatt">LinkedIn</a></li>
        <li><a href="/resume">Blog</a></li>
    </ul>
</nav>