<nav class="mw-site-nav">
    <ul class="mw-nav-list">
        {{#each items}}
            <li class="mw-nav-item">
                <a class="mw-nav-link" href="{{url}}">{{text}}</a>
            </li>
        {{/each}}
    </ul>
</nav>