.mw-banner {
  left: 50%;
  margin-left: -550px;
  position: fixed;
  display: block;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  height: 628px;
  width: 100%;
  max-width: 1100px;
}