.mw-banner {

  flex-grow: 2;

  display: block;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  @height: 538px;
  height: @height;
  flex-basis: @height;
  width: 100%;
}