@import (reference) "../../../common/style/sizing";

.mw-icon-marquee {
  margin: @small 0;

  p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;

    i, svg {
      &:nth-child(odd) {
        font-size: 2.25em;
      }

      &:nth-child(even) {
        margin: 0 @medium;
      }
    }
  }
}