@import (reference) "../../../common/style/colors";

.mw-nav {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50px;
  width: 100%;

  a, div {
    color: @black;
    font-weight: 400;
  }

  a {
    text-align: center;
    align-self: center;
    display: block;
    padding: 0 15px;
    letter-spacing: .08em;
  }

  div {
    align-self: center;
    display: block;
    flex-basis: 20px;
  }
}