@import (reference) "../../../common/style/sizing";
@import (reference) "../../../common/style/fonts";
@import (reference) "../../../common/style/colors";

.mw-tag {
  .urbanist(@weight: 300, @size: 1.05em);

  color: @silver;
  padding: 0 @xsmall 0;
  background-color: @background-shade;
  vertical-align: middle;
  display: inline-block;

  &:hover {
    text-shadow: -0.04ex 0 .01ex @silver, 0.04ex 0 .01ex @silver;

    cursor: pointer;
  }
}