<html>
<head>
    <!-- inject:css --><!-- endinject -->
</head>
<body>
    {{> partials/header }}
    <main>
        <p>Kids don't turn rotten just from watching TV. Fry! Stay back! He's too powerful! Perhaps, but perhaps your civilization is merely the sewer of an even greater society above you! Oh no! The professor will hit me! But if Zoidberg 'fixes' it… then perhaps gifts!</p>

        <p>It's toe-tappingly tragic! Kif, I have mated with a woman. Inform the men. Oh, you're a dollar naughtier than most. These old Doomsday Devices are dangerously unstable. I'll rest easier not knowing where they are.</p>

        <p>Bender! Ship! Stop bickering or I'm going to come back there and change your opinions manually!</p>

        <p>Pansy. It's a T. It goes "tuh". Hey, you add a one and two zeros to that or we walk! You wouldn't. Ask anyway!</p>

        <ul>
            <li>You guys aren't Santa! You're not even robots. How dare you lie in front of Jesus?</li>
            <li>This opera's as lousy as it is brilliant! Your lyrics lack subtlety. You can't just have your characters announce how they feel. That makes me feel angry!</li>
            <li>Interesting. No, wait, the other thing: tedious.</li>
        </ul>

        <p>I meant 'physically'. Look, perhaps you could let me work for a little food? I could clean the floors or paint a fence, or service you sexually?</p>

        <p>Enough about your promiscuous mother, Hermes! We have bigger problems. Why, those are the Grunka-Lunkas! They work here in the Slurm factory. Good news, everyone! I've taught the toaster to feel love! Ok, we'll go deliver this crate like professionals, and then we'll go ride the bumper cars.</p>
    </main>
</body>
</html>