<html>
<head>
    <!-- bower:css --><!-- endinject -->
    <link href="{{{google.fontsHref}}}" rel="stylesheet">
    <!-- inject:css --><!-- endinject -->
</head>
<body class="mw-body">
    {{> blog/header }}
    {{> blog/main }}
    {{> blog/footer }}
</body>
</html>