<html>
<head>
    <!-- bower:css --><!-- endinject -->
    <link href="{{{google.fontsHref}}}" rel="stylesheet">
    <!-- inject:css --><!-- endinject -->
</head>
<body class="mw-body">
    {{> header }}
    {{> main }}
    {{> footer }}
</body>
</html>