<html>
<head>
    <!-- bower:css --><!-- endinject -->
    <link href="{{{google.fontsHref}}}" rel="stylesheet">
    <!-- inject:css --><!-- endinject -->
</head>
<body class="mw-body">
    <header>
        {{> header }}
    </header>
    <main>
        {{{ $page }}}
    </main>
</body>
</html>